<!-- <div class="header">
    <div id="">
        <ul>
            <li>Religious Holidays</li> -->
            <!-- <li><a href="https://images.unsplash.com/photo-1542039174373-4efa3b3a9db8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">Login</a></li> -->
        <!-- </ul>
        </div>

        <div class="img1"> -->
            <!-- <img src="https://images.unsplash.com/photo-1542039174373-4efa3b3a9db8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"alt="Background Image"> -->
        <!-- </div> -->

<!---->
        <div class="header">
            <div id="">
                <ul>
                    <li>Religious Holidays 
                    <!-- <li><a href="https://images.unsplash.com/photo-1542039174373-4efa3b3a9db8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">Login</a></li> -->
                    <a href="https://en.wikipedia.org/wiki/Epiphany_(holiday)">     *** the epiphany ***</a>
                    <!-- <li><a href="https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">                    *** st. nicolos ***</a></li> *****  -->
        
                    <a href="https://en.wikipedia.org/wiki/Biblical_Magi#:~:text=The%20biblical%20Magi%20(%2F%CB%88m,of%20gold%2C%20frankincense%20and%20myrrh.">                          *** who are the magi ***</a></li>
                </ul>
                </div>
        
                <div class="img1">
                    <!-- <img src="https://images.unsplash.com/photo-1542039174373-4efa3b3a9db8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"alt="Background Image"> -->
                </div>






                <!-- START: NEWSFEED -->

    <div class="scrollbar">
        <h2>We Three Kings</h2>
            
    </div>

    <h3>Star of Wonder, Star of Light</h3>
    <!-- <br> -->
    <marquee direction="up">
        <p>

            We three kings of Orient are
            Bearing gifts we traverse afar
            Field and fountain, moor and mountain
            Following yonder star
            We three kings, we three kings
            </p>
            
            <p>
            Born a king on Bethlehem's plain
            Gold I bring to crown Him again
            King forever, ceasing never
            Over us all to reign
            </p>
            
            <p>
            Oh, star of wonder, star of night
            Star with royal beauty bright
            Westward leading, still proceeding
            Guide us to thy perfect light
            We three kings, we three kings
            </p>
            
            <p>
            Myrrh is mine, it's bitter perfume
            Breaths a life of gathering gloom
            Sorrowing, sighing, bleeding dying
            Sealed in the stone-cold tomb
            </p>
            
            <p>
            Oh, star of wonder, star of night
            Star with royal beauty bright
            Westward leading, still proceeding
            Guide us to thy perfect light
            Star of wonder, star of night
            Star with royal beauty bright
            Westward leading, still proceeding
            Guide us to thy perfect light
            We three kings, we three kings
            </p>
            
            <p>
            We three kings, we three kings
            We three kings, we three kings
            We three kings, we three kings
            We three kings, we three kings
            </p>
            
            <p>
            Source: LyricFind
            Songwriters: John H. H. Hopkins
            We Three Kings lyrics © Universal Music Publishing Group
            </p>
            
    <!-- <br> -->
    </marquee>

</div>

<!-- END: NEWSFEED -->
<!-- END: NEW CODE -->