// .row{
//   // display: flex;
//   // display: ;
//   // justify-content: center;
//   // text-align: left;
//   // padding-top: 20%;
//   // left: 20rem;
//   // top: 10rem;
//   // color: rgb(248, 252, 6);
//   // font-size: 30px;
//   // font-family: helvetica;
//   // font-weight: bold;
//   // background-image: url(https://images.unsplash.com/photo-1457269449834-928af64c684d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
// }

// .img1{
//   background-image: url(https://images.unsplash.com/photo-1544554039-7cf1c1e25218?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
// }

// .img1{
//   background-image: url(https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
// }

// .img2{
//     height: 95vh;
    // background-image: linear-gradient(to right bottom, rgba(31, 16, 44, 0.7), rgba(221, 6, 250, 0.6)), url(../images/santa.jpg);
    // background-size:cover;
    // background-position: 35% 50%;
    // -webkit-clip-path: polygon(0 0,100% 0, 100% 80vh, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    // position: relative;
    // BACKGROUND IMAGE OPTION: 1
    // background-image: url(https://images.unsplash.com/photo-1457269449834-928af64c684d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    // BACKGROUND IMAGE OPTION: 2
//     background-image: url(https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
//   }

  .img1{
    height: 95vh;
    // background-image: linear-gradient(to right bottom, rgba(31, 16, 44, 0.7), rgba(221, 6, 250, 0.6)), url(../images/santa.jpg);
    background-size:cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0,100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    // position: relative;
    background-image: linear-gradient(to right bottom, rgba(42, 4, 255, 0.295), rgba(248, 4, 4, 0.404)), url(https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  }
  
  .header {
      grid-area: header;
      position: static;
      text-align: left;
      font-size: 13px;
      color: #faf8f8;
      list-style-type: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: oblique;
        border-top: 1.5px solid;
        background-color: rgb(250, 8, 8);
        padding-top: 10px;
        padding-bottom: 15px;
        margin-left: 0%;
        margin-right: 0%;
        background-color: rgb(248, 4, 4)
    }
  
    // .navbar ul {
    //   list-style-type: none;
    //   font-size: 13px;
    //   font-family: Helvetica;
    //   font-weight: bold;
    //   text-align: center;
    //   border-top: 1.5px solid;
    //   border-bottom: 1.5px solid;
    //   padding: 5px;
    // }
  
  
    // START: CAN I USE THIS CODE TO GET RID OF THE UNDERLINES IN THE NAV BARS?
    
    
    li {
      display: inline;
      
    }
    li a{
        text-decoration: none;
        color: black;
  
    }
  // END: CAN I USE THIS CODE TO GET RID OF THE UNDERLINES IN THE NAV BARS?
  
  
  //   html{
  //     height: 95vh;
  //     // background-image: linear-gradient(to right bottom, rgba(31, 16, 44, 0.7), rgba(221, 6, 250, 0.6)), url(../images/santa.jpg);
  //     background-size:cover;
  //     background-position: 35% 50%;
  //     -webkit-clip-path: polygon(0 0,100% 0, 100% 80vh, 0 100%);
  //     clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  //     position: relative;
  // }
  
  
  .holiday{
    // grid-area: ;
    display: over;
    border: 8px;
    margin-left: 30px;
    justify-content: right;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    scroll-margin-inline-start: 500;
  }
  
  h2{
    font-style: italic;
    font-size: medium;
  }
  
  .testButton{
    // grid-area: ;
    display: over;
    border: 8px;
    margin-left: 30px;
    justify-content: right;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    scroll-margin-inline-start: 500;
  }
  
  
  // .links {
  //   grid-area: ;
  //   position: static;
  //   text-align: left;
  //   font-size: 13px;
  //   color: rgb(6, 248, 6);
  //   list-style-type: none;
  //     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  //     font-style: oblique;
  //     border-top: 1.5px solid;
  //     background-color: rgb(250, 8, 8);
  //     padding-top: 10px;
  //     padding-bottom: 15px;
  //     margin-left: 0%;
  //     margin-right: 0%;
  //     background-color: rgb(248, 4, 4)
  // }