<!-- <h1>holidays.component.html</h1> -->

<!-- START: ALL API CODE FOR ANGULAR USING JSON AND FOR JAVASCRIPT - SEE COMMENTS FOR JSON CODE ONLY -->

<!-- <div class="header">
    <div id="">

        <ul>
            <li>Holidays   </li> -->
            <!-- <li><a href="https://en.wikipedia.org/wiki/Santa_Claus">     *** who is santa ***</a></li> -->
            <!-- <li><a href="https://images.unsplash.com/photo-1544554039-7cf1c1e25218?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">     *** santa ***</a></li> -->
            <!-- <li><a href="https://www.nationalgeographic.com/news/2018/12/131219-santa-claus-origin-history-christmas-facts-st-nicholas/">     *** who is st. nicolos ***</a></li> -->
            <!-- <li><a href="https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">                    *** st. nicolos ***</a></li> ***** 

            <li><a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes#Current_ISO_3166_country_codes">                          *** List of Country Codes ***</a></li>
        </ul>
    </div> -->


    <div class="header">
        <div id="">
            <ul>
                <li>Holidays
                <!-- <li><a href="https://images.unsplash.com/photo-1542039174373-4efa3b3a9db8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">Login</a></li> -->
                <a href="https://www.nationalgeographic.com/news/2018/12/131219-santa-claus-origin-history-christmas-facts-st-nicholas/">     *** who is st. nicolos ***</a>
                <!-- <li><a href="https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">                    *** st. nicolos ***</a></li> *****  -->
    
                <a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes#Current_ISO_3166_country_codes">                          *** List of Country Codes ***</a></li>
            </ul>
            </div>
    
            <div class="img1">
                <!-- <img src="https://images.unsplash.com/photo-1542039174373-4efa3b3a9db8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"alt="Background Image"> -->
            </div>
<!-- START: LINKS TO WIKIPEDIA  COUNTRY CODES -->

<!-- <div class="header">
     <div id="">
        <li></li>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"></a>international country codes</li>
        </ul>
    </div> -->

<!-- END: LINKS TO WIKIPEDIA COUNTRY CODES

<!- START: LINKS TO WIKIPEDIA AND IMAGES -->

    <!-- <div class="header">
        <div id="">
    
            <ul>
                <li>who is </li>
                <li><a href="https://en.wikipedia.org/wiki/Santa_Claus">          *** santa ***</a></li>
                <li><a href="https://images.unsplash.com/photo-1544554039-7cf1c1e25218?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">     *** santa ***</a></li>
                <li><a href="https://www.nationalgeographic.com/news/2018/12/131219-santa-claus-origin-history-christmas-facts-st-nicholas/">               *** st. nicolos ***</a></li>
                <li><a href="https://images.unsplash.com/photo-1542936378-3fa06e6f7723?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">                    *** st. nicolos ***</a></li>
                                         
            </ul>
        </div> -->

<!-- END: LINKS TO WIKIPEDIA AND IMAGES -->







<div class="scrollbar">
    <h2>Here Comes Santa Claus</h2>
        
</div>

<h1></h1>
<!-- <br> -->
<marquee direction="up">
    <p>

        Here comes Santa Claus, here comes Santa Claus right down Santa Claus Lane
        Vixen and Blitzen and all his reindeer pullin' on the reins
        Bells are ringin', children singin', all is merry and bright
        So hang your stockings and say your prayers 'cause Santa Claus comes tonight
        </p>
        
        <p>
        Here comes Santa Claus, here comes Santa Claus right down Santa Claus Lane
        He's got a bag that's filled with toys for boys and girls again
        Hear those sleigh bells jingle jangle, oh what a beautiful sight
        So jump in bed, and cover your head, 'cause Santa Claus comes tonight
        </p>
        
        <p>
        Here comes Santa Claus, here comes Santa Claus right down Santa Claus Lane
        He'll come around when chimes ring out, it's Christmas time again
        Peace on earth will come to all, if we just follow the light
        So let's give thanks to the Lord above 'cause Santa Claus comes tonight
        </p>
        
        <p>
        Here comes Santa Claus, here comes Santa Claus right down Santa Claus Lane
        Vixen and Blitzen and all his reindeer pullin' on the reins
        Bells are ringin', children singin', all is merry and bright
        So jump in bed, and cover your head, 'cause Santa Claus comes tonight
        </p>
        
        <p>
        Peace on earth will come to all, if we just follow the light
        So let's give thanks to the Lord above 'cause Santa Claus comes tonight
        So let's give thanks to the Lord above 'cause Santa Claus comes tonight
        </p>
        
        <p>
        Source: LyricFind
        Songwriters: Oakley Haldeman / Gene Autry
        Here Comes Santa Claus lyrics © Warner Chappell Music, Inc
        </p>
        
        
<!-- <br> -->
</marquee>

</div>

<!-- END: NEWSFEED -->
<!-- END: NEW CODE -->